:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --blob: #e6faff;
    --purple: #a82dd1;
    --yellow: #fff565;
    --lightblue: "#ccf5ff";
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4rem;
}

.light {
    --blob-color: var(--lightblue);
    --bg: var(--gray0);
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg2: var(--gray2);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-solar: var(--yellow);
    --separatorBotSrc: url('./assets/separator_light_bot.svg');
    --separatorTopSrc: url('./assets/separator_light_top.svg');
}


.dark {
    --blob-color: var(--lightblue);
    --bg: var(--gray5);
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg2: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-solar: var(--blue);
    --separatorBotSrc: url('./assets/separator_dark_bot.svg');
    --separatorTopSrc: url('./assets/separator_dark_top.svg');
}


.material-symbols-outlined {
    font-size: 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

/* Navbar */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

br {
    display: block;
    margin: 100px 0;
}

.navbar a {
    color: currentColor;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--border-color);
}

.navbar button {
    color: var(--text);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px var(--border-color);
    cursor: pointer;
    overflow: hidden;
}

.navbar button:hover {
    color: var(--border-color);
}

.navbar {
    z-index: 500;
    overflow: hidden;
    height: 2.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--bg-nav);
    color: var(--text);
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.navbar li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Main page */

main {
    margin-top: 5rem;
    width: 100%;
}

h2 {
    color: var(--border-color);
    margin: 0;
    margin-bottom: 1rem;
}

.separator {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.separator-bot {
    background-image: var(--separatorBotSrc);
    transition: background-image 500ms ease-in-out;
}

.separator-top {
    background-image: var(--separatorTopSrc);
    transition: background-image 500ms ease-in-out;
}

section {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

section>* {
    padding-top: 5px;
    margin-left: 17vw;
    width: 66vw;
}

#about-me-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-me-container>img {
    width: 20vw;
    height: 30vw;
    max-width: 10rem;
    max-height: 15rem;
    border-radius: 2rem;
    margin: 1rem;
    border: 2px;
    box-shadow: var(--border-color) 0px 3px 6px;
}

#about-me-container>p {
    flex: 1;
    word-wrap: break-word;
    min-width: 5rem;
    max-width: 20rem;
}


#skills-section {
    background-color: var(--bg2);
    transition: background-color 500ms ease-in-out;
}

#contact-section {
    background-color: var(--bg2);
    transition: background-color 500ms ease-in-out;
}


#light-mode-icon {
    display: none;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

.logo>img {
    width: 2rem;
    height: 2rem;
}

.logo:nth-child(n) {
    transition-delay: calc((var(--custom-index)) * 100ms);
}




.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    visibility: hidden;
    transition: all 2s;
}

@media(prefers-reduced-motion) {
    * {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    visibility: visible;
}



@media only screen and (max-width: 600px) {
    :root {
        font-size: medium;
    }

    section>* {
        margin-left: 10vw;
        width: 80vw;
    }


    .material-symbols-outlined {
        font-size: 16px;

    }


}

/* Typewritter effect */

.typewritter {
    width: fit-content;

    border-right: .15em solid var(--text);
    border-color: transparent;
    animation:
        blink-caret .75s step-end 5;
}



@keyframes blink-caret {

    from,
    to {
        border-color: var(--text)
    }

    50% {
        border-color: transparent;
    }
}



.project {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px;
    box-shadow: var(--border-color) 0px 3px 6px;
    display: flex;
    direction: row;
}

.project>img {
    width: 20vw;
    height: 20vw;
}